In [1]:
import pandas as pd
import numpy as np

In [2]:
arquivo = r"C:\Users\felyp\OneDrive\UTFPR  - Curso Analise de Dados\Aula 3\datatran2025.xlsx"

In [5]:
df = pd.read_excel(arquivo)

In [6]:
print(df.head())

       id data_inversa    dia_semana   horario  uf   br     km  \
0  652493   2025-01-01  quarta-feira  06:20:00  SP  116  225.0
1  652519   2025-01-01  quarta-feira  07:50:00  CE  116  546.2
2  652522   2025-01-01  quarta-feira  08:45:00  PR  369   88.2
3  652544   2025-01-01  quarta-feira  11:00:00  PR  116   74.0
4  652549   2025-01-01  quarta-feira  09:30:00  MG  251  471.0

               municipio                            causa_acidente  \
0              GUARULHOS  Reação tardia ou ineficiente do condutor
1              PENAFORTE                          Pista esburacada
2      CORNELIO PROCOPIO  Reação tardia ou ineficiente do condutor
3  CAMPINA GRANDE DO SUL  Reação tardia ou ineficiente do condutor
4           FRANCISCO SA                   Velocidade Incompatível

               tipo_acidente  ... feridos_graves ilesos ignorados feridos  \
0                 Tombamento  ...              0      0         1       1
1            Colisão frontal  ...              0      1         4       1
2           Colisão traseira  ...              0      2         0       3
3  Saída de leito carroçável  ...              0      4         0       1
4            Colisão frontal  ...              1      1         2       2

  veiculos   latitude  longitude  regional  delegacia             uop
0        2 -23.485868 -46.540753   SPRF-SP   DEL01-SP  UOP01-DEL01-SP
1        6  -7.812288 -39.083333   SPRF-CE   DEL05-CE  UOP03-DEL05-CE
2        2 -23.182565 -50.637228   SPRF-PR   DEL07-PR  UOP05-DEL07-PR
3        2 -25.365177 -49.042230   SPRF-PR   DEL01-PR  UOP02-DEL01-PR
4        4 -16.468013 -43.431213   SPRF-MG   DEL12-MG  UOP01-DEL12-MG

[5 rows x 30 columns]

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16729 entries, 0 to 16728
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      16729 non-null  int64
 1   data_inversa            16729 non-null  datetime64[ns]
 2   dia_semana              16729 non-null  object
 3   horario                 16729 non-null  object
 4   uf                      16729 non-null  object
 5   br                      16729 non-null  int64
 6   km                      16729 non-null  float64
 7   municipio               16729 non-null  object
 8   causa_acidente          16729 non-null  object
 9   tipo_acidente           16729 non-null  object
 10  classificacao_acidente  16728 non-null  object
 11  fase_dia                16729 non-null  object
 12  sentido_via             16729 non-null  object
 13  condicao_metereologica  16729 non-null  object
 14  tipo_pista              16729 non-null  object
 15  tracado_via             16729 non-null  object
 16  uso_solo                16729 non-null  object
 17  pessoas                 16729 non-null  int64
 18  mortos                  16729 non-null  int64
 19  feridos_leves           16729 non-null  int64
 20  feridos_graves          16729 non-null  int64
 21  ilesos                  16729 non-null  int64
 22  ignorados               16729 non-null  int64
 23  feridos                 16729 non-null  int64
 24  veiculos                16729 non-null  int64
 25  latitude                16729 non-null  float64
 26  longitude               16729 non-null  float64
 27  regional                16729 non-null  object
 28  delegacia               16725 non-null  object
 29  uop                     16723 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(10), object(16)
memory usage: 3.8+ MB
None

In [9]:
print(df.describe())

                  id                   data_inversa            br  \
count   16729.000000                          16729  16729.000000
mean   661945.979556  2025-02-15 06:07:07.377607680    208.317712
min    652468.000000            2025-01-01 00:00:00      0.000000
25%    657270.000000            2025-01-24 00:00:00    101.000000
50%    661966.000000            2025-02-16 00:00:00    155.000000
75%    666541.000000            2025-03-09 00:00:00    316.000000
max    687515.000000            2025-03-31 00:00:00    495.000000
std      5520.847979                            NaN    128.056730

                 km       pessoas        mortos  feridos_leves  \
count  16729.000000  16729.000000  16729.000000   16729.000000
mean     261.323402      2.605894      0.077052       0.903820
min        0.000000      1.000000      0.000000       0.000000
25%       74.000000      2.000000      0.000000       0.000000
50%      194.000000      2.000000      0.000000       1.000000
75%      414.900000      3.000000      0.000000       1.000000
max     1253.000000     69.000000      9.000000      41.000000
std      229.450160      2.244136      0.321745       1.094753

       feridos_graves        ilesos     ignorados       feridos      veiculos  \
count    16729.000000  16729.000000  16729.000000  16729.000000  16729.000000
mean         0.268934      1.054576      0.379401      1.172754      1.969155
min          0.000000      0.000000      0.000000      0.000000      1.000000
25%          0.000000      0.000000      0.000000      1.000000      1.000000
50%          0.000000      1.000000      0.000000      1.000000      2.000000
75%          0.000000      1.000000      1.000000      1.000000      2.000000
max         14.000000     68.000000     18.000000     49.000000     13.000000
std          0.602832      1.796417      0.777299      1.185930      1.044734

           latitude     longitude
count  16729.000000  16729.000000
mean     -18.957577    -46.357618
min      -33.543970    -70.426466
25%      -25.154000    -50.161693
50%      -20.510435    -46.926313
75%      -12.899641    -42.208653
max        4.461419    -34.828400
std        7.654388      6.150042