In [7]:
import pandas as pd

In [12]:
local_arquivo_acidentes =r'C:\Users\felyp\OneDrive\UTFPR  - Curso Analise de Dados\Pré - Projeto\acidentes2025_todas_causas_tipos.csv'

In [16]:
datatran = pd.read_csv(local_arquivo_acidentes, encoding='ISO-8859-1' ,sep=';')

In [28]:
eixo_x = datatran.groupby('data_inversa')['id'].nunique().reset_index(name='total_acidentes')['data_inversa']
eixo_y = datatran.groupby('data_inversa')['id'].nunique().reset_index(name='total_acidentes')['total_acidentes']

In [36]:
df_acidentes_por_hora = datatran.groupby(datatran['horario'].str.slice(0, 2))['id'].nunique().reset_index()
df_acidentes_por_hora.columns = ['hora', 'total_de_acidentes']

In [38]:
df_acidentes_por_fase_dia = datatran.groupby('fase_dia')['id'].nunique().reset_index(name='total_acidentes')

In [39]:
df_acidentes_por_fase_dia.head()

      fase_dia  total_acidentes
0    Amanhecer             1027
1    Anoitecer             1159
2  Plena Noite             7318
3    Pleno dia            12995

In [41]:
df_acidentes_por_estado_fisico = datatran.groupby('estado_fisico')['id'].nunique().reset_index(name='total_acidentes')
df_acidentes_por_estado_fisico.head()

   estado_fisico  total_acidentes
0          Ileso            14019
1  Lesões Graves             4965
2   Lesões Leves            14459
3  Não Informado             3056
4          Óbito             1533

In [42]:
df_acidentes_por_dia_semana = datatran.groupby('dia_semana')['id'].nunique().reset_index(name='total_acidentes')
df_acidentes_por_dia_semana.head()

      dia_semana  total_acidentes
0        domingo             3551
1   quarta-feira             3172
2   quinta-feira             2941
3  segunda-feira             3206
4    sexta-feira             3374

In [ ]:
datatran['latitude'] = datatran['latitude'].astype(str).str.replace(',', '.').astype(float)
datatran['longitude'] = datatran['longitude'].astype(str).str.replace(',', '.').astype(float)

In [46]:
df_lat_long_unicas = datatran[['latitude', 'longitude']].drop_duplicates()
df_lat_long_unicas.head()

     latitude  longitude
0   -8.207607 -34.983720
4  -26.912758 -48.711998
6  -16.133518 -49.047565
11 -25.372287 -49.138134
12 -15.658386 -47.791534